---
interface Props {
	video: {
		videoURL: string;
		name: string;
		description: string;
	};
}

const { video } = Astro.props;
---

<div class="border-primary-200 flex w-full flex-col rounded-lg border-2 lg:flex-row">
	<div class="w-full lg:w-3/5">
		<div class="relative w-full" style="padding-top: 56.25%">
			<iframe
				src={`${video.videoURL}?playsinline=1&rel=0&modestbranding=1`}
				class="absolute inset-0 h-full w-full"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen></iframe>
		</div>
	</div>
	<div class="flex flex-col justify-start p-8 lg:w-2/5 lg:p-16">
		<h3 class="h2 mb-4">{video.name}</h3>
		<p class="text-lg">{video.description}</p>
	</div>
</div>
