---
interface Props {
	video: {
		videoURL: string;
		name: string;
		description: string;
	};
}

const { video } = Astro.props;
---

<div class="flex w-full flex-col">
	<div>
		<div class="relative w-full" style="padding-top: 133.33%">
			<iframe
				src={`${video.videoURL}?playsinline=1&rel=0&modestbranding=1`}
				class="absolute inset-0 h-full w-full"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen></iframe>
		</div>
	</div>
	<div
		class="border-primary-200 flex h-full flex-col justify-between rounded-b-lg border-2 border-t-0 pt-10 pb-10"
	>
		<div>
			<h3 class="h2 text-center">{video.name}</h3>
			<p class="mt-3 px-8 text-center text-lg">{video.description}</p>
		</div>
	</div>
</div>
