---
/**
 * * Hero with background image
 * You'll want a mobile image, and a desktop image for this.
 */

import { Image } from "astro:assets";

// components
import Button from "@components/Button/Button.astro";

// images
import heroImage from "@images/banjo_on_the_lake.jpg";
import heroImageMobile from "@images/banjo_on_the_lake.jpg";
---

<section id="hero" class="relative z-10 flex min-h-[100lvh] w-full">
	<!-- background image -->
	<div class="absolute -z-10 h-full min-h-full w-full overflow-hidden">
		<div class="absolute inset-0 bg-black/10"></div>

		<Image
			src={heroImage}
			class="hidden h-auto min-h-full w-full object-cover sm:block"
			style="object-position: center;"
			alt="Peter Irving playing banjo by the lake"
			aria-hidden="true"
			loading="eager"
			height={1400}
		/>
		<Image
			src={heroImageMobile}
			class="h-auto min-h-full w-full object-cover sm:hidden"
			alt="Peter Irving playing banjo by the lake"
			aria-hidden="true"
			loading="eager"
			width={1200}
		/>
	</div>

	<!-- hero items -->
	<div class="site-container relative w-full gap-10 py-44 text-right md:py-52">
		<!-- Hero text -->
		<div class="my-auto ml-auto max-w-[800px] flex-col pl-6 text-[#1E1E1E] md:pl-0">
			<h1
				class="font-heading-1 text-3xl font-semibold text-pretty md:text-5xl md:leading-tight"
				style="text-shadow: 0 0 5px #ffffff93, 0 0 10px #ffffff4a;"
			>
				Peter Irving
			</h1>
			<p
				class="mt-2 text-2xl tracking-widest text-pretty md:ml-auto md:max-w-[550px] md:text-3xl"
				style="text-shadow: 0 0 5px #ffffff44, 0 0 10px #ffffff43;"
			>
				Acoustic Dance Music
			</p>
		</div>
	</div>
</section>
