---
// components
import VerticalArtwork from "@components/Artwork/VerticalArtwork.astro";
import { ArtworkOrientation } from "./data/ArtworkOrientation";
import { getArtworksByOrientation } from "./data/ArtworkDataHelpers";
import HorizontalArtwork from "./HorizontalArtwork.astro";

const verticalArt = getArtworksByOrientation(ArtworkOrientation.VERTICAL);
const horizontalArt = getArtworksByOrientation(ArtworkOrientation.HORIZONTAL);
---

<section id="Postcard" class="site-container scroll-mt-10 py-8 md:py-12">
	<div class="mx-auto max-w-6xl text-center">
		<h2 class="h2 text-pretty uppercase">Paintings and Such</h2>
	</div>

	<div class="mx-auto max-w-4xl space-y-16 pt-8 pb-16 md:pt-12">
		{
			horizontalArt.map((artwork, index) => (
				<HorizontalArtwork artwork={artwork} imagePosition={index % 2 === 0 ? "left" : "right"} />
			))
		}
	</div>

	<div class="mx-auto grid max-w-md gap-20 pt-8 md:pt-12 lg:max-w-none lg:grid-cols-3">
		{
			verticalArt.map((artwork, index) => (
				<VerticalArtwork artwork={artwork} imagePosition={index % 2 === 0 ? "top" : "bottom"} />
			))
		}
	</div>
</section>
