---
import BaseLayout from "@layouts/BaseLayout.astro";
import Postcards from "@components/Artwork/Artwork.astro";
import PageTitle from "@components/UI/PageTitle.astro";
---

<BaseLayout
	title="Artwork"
	description="Analog and Digital watercolor paintings, illustrations, and more."
>
	<section class="site-container scroll-mt-10 py-8 md:py-12">
		<PageTitle title="Artwork" />
		<p class="subtitle mt-4 text-center text-gray-600 italic">*all subtitles are AI generated</p>
		<Postcards />
	</section>
</BaseLayout>
