---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Contact" description="Get in touch with Peter.">
	<div
		class="mx-auto max-w-7xl px-4 py-8 pt-24 sm:px-6 md:px-8 md:py-18 md:pt-28 lg:px-12 lg:py-18 lg:pt-32"
	>
		<h1 class="font-heading-1 mb-8 text-center text-4xl">Contact</h1>
        <p class="mb-4 text-center text-lg">
            For inquiries, collaborations, or just to say hello, feel free to reach out!
        </p>
        <p class="mb-4 text-center text-lg">
            You can contact me via email at 
            <a href="mailto:hello@example.com" class="text-primary hover:underline">hello@example.com</a>

        </p>

	</div>
</BaseLayout>
