---
import ContactComponent from "@components/Contact/ContactComponent.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Contact" description="Get in touch with Peter.">
	<div class="py-24">
		<ContactComponent />
	</div>
</BaseLayout>
