---
import ContactComponent from "@components/Contact/ContactComponent.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
	title="Contact Peter Irving | Booking & Inquiries"
	description="Get in touch with Peter Irving for bookings, collaborations, or general inquiries about his music performances and availability."
>
	<section class="site-container scroll-mt-10 py-8 md:py-12">
		<!-- <PageTitle title="Contact" /> -->
		<div class="pt-8">
			<ContactComponent />
		</div>
	</section>
</BaseLayout>
