---
import BaseLayout from "@layouts/BaseLayout.astro";
import PerformanceTabView from "@components/Performances/UI/PerformanceTabView.astro";
import PageTitle from "@components/UI/PageTitle.astro";
import siteData from "@config/siteData.json";
---

<BaseLayout
	title="Live Performances & Events | Peter Irving Music"
	description="View upcoming performances and past events by Peter Irving, featuring old-time music, country blues, and ragtime. Book Peter for your next event."
>
	<section class="site-container scroll-mt-10 py-8 md:py-12">
		<PageTitle title="Performances" />

		<div class="mt-8">
			<PerformanceTabView />
		</div>
	</section>
</BaseLayout>
