---
import { Icon } from "astro-icon/components";

// components
import FooterLink from "./FooterLink.astro";
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";

// data
import siteData from "@config/siteData.json";

const today = new Date();
---

<footer class="bg-base-100/40 mt-12 flex flex-col items-center justify-center py-8">
	<div class="site-container">
		<!-- footer links -->
		<div
			class="flex w-full flex-col items-center justify-between gap-2 text-lg md:grid md:grid-cols-5"
		>
			<div class="col-span-5 flex w-full justify-center">
				<SiteLogo />
			</div>
		</div>

		<!-- socials -->
		<div class="text-primary-500 mt-8 flex justify-center gap-4">
			<!-- <a href="https://x.com/BowTiedWebReapr" target="_blank" rel="noopener noreferrer">
				<Icon name="socials/mdi-facebook" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Facebook</span>
			</a> -->

			<a href="https://www.youtube.com/@peterirving9458" target="_blank" rel="noopener noreferrer">
				<Icon name="socials/mdi-youtube" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Youtube</span>
			</a>
			<a href="https://instagram.com/peterirving.live" target="_blank" rel="noopener noreferrer">
				<Icon name="socials/basil-instagram-solid" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Instagram</span>
			</a>
		</div>

		<!-- copyright -->
		<div class="mt-4 mb-2 text-center text-sm opacity-80">
			&copy; {today.getFullYear()}
			{siteData.name}. All rights reserved - thats right.
		</div>
	</div>
</footer>
